
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


/* Style Sheet Reset & Global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
  }
  html,
  body {
    min-width: 320px;
  }
  body {
    font-size: 16px;
    font-family: "montserrat", sans-serif;
    background-color: #f4f7fb;
  }
  img {
    max-width: 100%;
    height: auto !important;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: "montserrat", sans-serif;
  }
  input,
  select,
  textarea {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  .pointer {
    cursor: pointer;
  }
  body {
    display: flex;
    flex-direction: column;
  
    width: 100vw;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
  }

  .container {
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #f4f7fb;
  }


  /*        COLORS      */
  :root {
    --col1: #1E5EA6;
    --col2: #FFFFFF;
    --col3: #F9F9F9;
    --col4: #195190;
  }




  /*         HEADER         */

  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  
  #navBar{
    padding-left:3% ;
    padding-right:3% ;
    height: 91px;
    background-color: var(--col2);
    position: fixed;
    top:0;
    z-index: 20;

  }
  
  nav {
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
    list-style-type: none;
  }
  
 a {
    font-weight: normal;
    color:#000000;
    text-decoration: none;

  }
  
  .icons {
    justify-content: flex-end;
  }
  
  .icon {
    margin: 0px 20px 0px 20px;
  }

  i {
    margin: 0px 10px 0px 10px;
  }

  /*         HERO SECTION          */

.btn {
    font-size: 16px;
    font-weight: 600;
    padding:10px 38px 10px 38px ;
    border-radius: 5px;
    background-color: var(--col1);
    background: #1E5EA6 0% 0% no-repeat padding-box;
    color: #fff;
    cursor: pointer;
    border: none;
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 30px;
    font-weight: lighter;
    text-transform: uppercase;
    opacity: 1;
    font-weight: normal;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
  }
  
  #title {
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0px;
    font-size: 58px;
    margin-bottom: 20px;
  }
  
  .hero {
    top:91px;
    position: relative;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: bottom center;
    background-image: url("../images/IMG.png");
    background-repeat: no-repeat;
    filter: brightness(110%);
    margin-bottom: 80px;
  }
  
  .hero-overlay {
    color: #f4f7fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    padding-top: 4rem;
    background-image: linear-gradient(
      180deg,
      rgb(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0)
    );
  }
  
  .hero-overlay > p {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 39px;
    font-weight: 100;
    text-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    font-weight: normal;
    text-transform: uppercase;
  }
  
/*       DEDICATED AND MEETING SECTION       */

  .dedicated {
    height: 637px;
    margin-top: 84px;
    background-image: url("../images/meeting.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom right;
  }
  .card {
    width: 45%;
    margin: 0 10px;
    padding: 20px;
    box-shadow: 0px 0px 9px #00000038;
    border-radius: 5px;
    border: 1px solid #e2e6ea;
    margin-bottom: 30px;
    background: #fff;
  }
  
  .card > h1 {
    margin-bottom: 23px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    color: var(--col1);
  }
  .line {
    margin-bottom: 38px;
    border-bottom: 5px solid black;
    width: 180px;
  }
  
  .card > p {
    line-height: 2rem;
    padding-bottom: 38px;
  }
  
  .card > button {
    margin-bottom: 51px;
    letter-spacing: -0.03px;
  }
  
  section.container {
    margin-bottom: 124px;
  }
  
  .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 130px;
    background-color: var(--col1);
    margin-bottom: 84px;
    color: #ffffff;
    font-family: "Barlow Condensed", sans-serif;
  }
  .stat {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .stat > div > h1 {
    font-size: 65px;
    margin-right: 24px;
  }
  .stat > div > p {
    font-family: "montserrat", sans-serif;
    font-size: 22px;
    line-height: 25px;
   
  }

  /*         EXPLORE THE AREA SECTION     */
  
.box {
    
    padding-left:3%;
    padding-right:3%;

  }
  
  .explore > h1 {
    margin-bottom: 23px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    color: var(--col1);
  }
  
  div.maps{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  .card1{
    width:335px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 9px #00000038;
    border-radius: 8px;
    border: 1px solid #e2e6ea;
    margin-bottom: 57px;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    opacity:1;
  }
  
  .map{
    margin-bottom: 22.52px;
  }

  .card-title{
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    color: var(--col1);
    margin-bottom: 28px;
    font-size: 27px;
  }

  .card-body{
    padding: 28.3px 24px;
   
  }

  .card-body > p {
    font-size: 20px;
    margin-bottom: 14px;
  }

  .btn-explore{
    display: flex;
    justify-content: center;
    margin-bottom: 80.13px;
  }
  .btn-explore .btn{
    letter-spacing: -0.3px;/
  }

  /*         FOOTER WIDGETS         */

  
  footer{
    width: 100%;
    display: flex;
    flex-direction: column;

  }
  
  .about-connect{
    display: flex;
    flex-direction: row;
}

.about{
    padding: 81.92px 133px 0 3%;
    opacity: 1;
}

.connect{
    padding: 81.92px 0 0 0;
    opacity: 1;

}


.city{
    padding: 81.92px 3% 0 0;
    opacity: 1;
}

  .about > h2,
  .connect > h2,
  .city > h2{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 28px;
    color: var(--col2);
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10.08px;
    letter-spacing: -0.28px;
    opacity:1;
  }

  .line1 {
    margin-bottom: 25.31px;
    border-bottom: 3px solid white;
    width: 50px;
  }

  .about > p,
  .connect > p {
    font-size: 18px;
    font-family: "montserrat", sans-serif;
    font-weight: lighter;
    color: var(--col2);
    line-height: 35px;
    letter-spacing: -0.18px;

  }
  .city > div > p {
    font-size: 18px;
    font-family: "montserrat", sans-serif;
    font-weight: lighter;
    color: var(--col2);
    line-height: 25px;
    letter-spacing: -0.18px;
  }

  .city > .social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .addNum{
    margin-bottom: 33.87px;
  }


  footer > .widgets{
    display:flex;
    justify-content: space-between;
    height: 391px;
    background: #1E5EA6 0% 0% no-repeat padding-box;
    padding-left:3%;
    padding-right:3%;
  }

  footer > .copywrite{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:87px;
    background: #195190 0% 0% no-repeat padding-box;
    padding-left:3%;
    padding-right:3%;

  }

  .mls > img{
    margin-right: 49px;
  }

  .copywrite > p{
    font-family: "montserrat", sans-serif;
    color: var(--col2);
    font-size: 13px;
    letter-spacing: -0.18px;
    
   
  }
  .copywrite > p > a{
    color:var(--col2);
    text-decoration: underline;
  }

  .hamburger{
    position: relative;
    display: block;
    width: 26px;
    cursor: pointer;
    appearance: none;
    background:none;
    outline:none;
    border: none;
    

  }
.hamburger .bar, .hamburger::after, .hamburger::before{
    
    content: "";
    display:none;
    width: 100%;
    height: 2px;
    background-color: #000000;
    margin:6px 0px;
    transition: 0.4s;
   
}


  @media (max-width: 375px) {

   .realEst{
    height: 46.05px;
    width:124.02px;
   }
   nav{
    display: none;
   }
   header{
    width:375px;
    justify-content: space-between;
  
   }
   header.navBar{
    width: 100vw;
    display: flex;
   }
   img.icon{
    margin: 10px;
   }
   div.icons{
    display: flex;
    flex-direction: row;
    width:163px;
   }
   .hamburger .bar, .hamburger::after, .hamburger::before{
    display:block;
   }
  }